.blog-list {
    $s: &;
    position: relative;
    padding: 110px 0 140px;
    background-color: #FAFAFA;

    &--single {
        background-color: #F9F9F9;
    }

    @media screen and (max-width: 1023px) {
        padding: 87px 0 56px;
    }

    @media screen and (max-width: 1023px) {
        background-color: $white;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 32px;
        line-height: 32px;
        color: $dark-gray;
        font-weight: 300;

        #{$s}--single & {
            @media screen and (max-width: 1023px) {
                text-align: left;
                font-weight: 700;
            }
        }

        @media screen and (max-width: 1023px) {
            width: 100%;
            text-align: center;
        }

        &--pre-title {
            font-weight: 700;

            &::after {
                content: "|";
                font-weight: 200;
                color: $orange;
                margin: 0 14px;
            }
        }

        &--highlight {
            font-weight: 700;
            position: relative;

            &::before {
                // content: $text-marker;
                // position: absolute;
                // top: -10px;
                // left: -10px;

                content: '';
                background-image: $text-marker;
                position: absolute;
                left: -2.5%;
                top: -2.5%;
                width: 105%;
                height: 105%;
                background-position: center top;
                background-size: 100% 100%;
            }
        }
    }

    &__button {
        border: 2px solid $orange;
        color: $orange;
        font-weight: 700;
        font-size: 18px;
        line-height: .8;
        display: inline-block;
        padding: 18px 16px;
        transition: .4s;
        min-width: 298px;
        text-align: center;

        @media screen and (max-width: 1023px) {
            display: none;
        }

        &--mobile {
            display: none;

            @media screen and (max-width: 1023px) {
                display: block;
            }
        }

        &:hover {
            background-color: rgba($orange, .2);
        }
    }

    &__list {
        display: flex;
        gap: 16px;
        margin-top: 32px;
        overflow: unset !important;

        .swiper-wrapper {
            @media screen and (min-width: 1024px) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 16px;
            }
        }

        @media screen and (max-width: 1023px) {
            padding-bottom: 56px;
            overflow: unset !important;
        }
    }

    &__item {
        background-color: $white;
        box-shadow: 0px 58px 23px rgba(0, 0, 0, 0.01), 0px 33px 20px rgba(0, 0, 0, 0.03), 0px 15px 15px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.05);
        height: unset;

        @media screen and (max-width: 1023px) {
            min-width: 298px;
            max-width: 298px;
        }

        &-thumb {
            height: 186px;
            width: 100%;
            object-fit: cover;
        }

        &-content {
            padding: 16px 32px 32px;
        }

        &-category {
            background-color: $orange;
            padding: 8px 16px;
            border-radius: 24px;
            text-transform: uppercase;
            display: inline-block;

            a {
                color: $white;
                font-weight: 500;
            }
        }

        &-title {
            margin-top: 16px;
            font-size: 20px;
            line-height: 24px;

            a {
                color: $black;
                font-weight: 500;
            }
        }
    }

    &__float-icon {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 1023px) {
            width: 88%;
        }
    }
}