.contact-form {
    margin-top: -142px;
    padding: 0 24px;

    @media screen and (min-width: 1024px) {
        margin-top: -48px;
    }

    .wrap {
        background: $white;
        box-shadow: 0px 48px 19px rgba(0, 0, 0, 0.01), 0px 27px 16px rgba(0, 0, 0, 0.02), 0px 12px 12px rgba(0, 0, 0, 0.03), 0px 3px 7px rgba(0, 0, 0, 0.04);
        padding: 24px;
        padding-bottom: 216px;
        margin-bottom: 216px;

        @media screen and (min-width: 1024px) {
            padding: 48px;
        }
    }

    &__title {
        font-size: 32px;
        color: $green;
        font-weight: 700;
        line-height: 1.1;

        @media screen and (min-width: 1024px) {
            font-size: 40px;
            line-height: 1.2;
        }
    }

    &__desc {
        margin-top: 24px;
        color: $dark-gray;
        line-height: 1.4;
        font-size: 20px;
        font-weight: 300;
    }

    &__form {
        margin-top: 32px;

        @media screen and (min-width: 1024px) {
            margin-top: 56px;
        }

        form {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 1024px) {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 24px;
            }

            &.sent .wpcf7-response-output {
                border-color: #2ecc71 !important;
                background: #2ecc71 !important;
            }

            &.failed .wpcf7-response-output,
            &.aborted .wpcf7-response-output {
                border-color: #e74c3c !important;
                background: #e74c3c !important;
            }

            &.invalid .wpcf7-response-output,
            &.unaccepted .wpcf7-response-output,
            &.payment-required .wpcf7-response-output {
                border-color: #f1c40f !important;
                background: #f1c40f !important;
            }
        }

        .half {
            @media screen and (min-width: 1024px) {
                width: calc(50% - 12px);
            }
        }

        .full {
            @media screen and (min-width: 1024px) {
                width: 100%;
            }
        }

        input {
            padding: 16px 18px;
            border: 2px solid #E6E6E6;
            background-color: $white;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 8px;
            font-size: 18px;
            color: $dark-gray;

            @media screen and (min-width: 1024px) {
                margin-bottom: 0;
            }

            &::placeholder {
                color: $dark-gray;
            }

            &[type="submit"] {
                background-color: $white;
                color: $orange;
                border-color: $orange;
                margin-bottom: 0;
                margin-top: 10px;
                font-weight: 700;
                cursor: pointer;

                @media screen and (min-width: 1024px) {
                    margin-top: 56px;
                    min-width: 408px;
                }
            }
        }

        select {
            font-family: $font-family-primary;
            padding: 16px 18px;
            border: 2px solid #E6E6E6;
            margin-bottom: 8px;
            width: 100%;
            color: $dark-gray;
            font-size: 18px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 0;
            }
        }

        textarea {
            font-family: $font-family-primary;
            padding: 16px 18px;
            border: 2px solid #E6E6E6;
            margin-bottom: 8px;
            width: 100%;
            color: $dark-gray;
            font-size: 18px;
            resize: vertical;
            box-sizing: border-box;
            height: 58px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 0;
            }

            &::placeholder {
                color: $dark-gray;
            }
        }

        .wpcf7-list-item {
            margin-left: 0;

            .wpcf7-list-item-label {
                color: $dark-gray;
                font-size: 18px;
                font-weight: 300;
                line-height: 1.2;
            }

            label {
                display: flex;
                align-items: flex-start;
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        .custom-checkbox {
            width: 18px;
            min-width: 18px;
            height: 18px;
            border: 1px solid #DEDEDE;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 12px;
        }

        /* Quando o checkbox está marcado */
        input[type="checkbox"]:checked+.wpcf7-list-item-label>.custom-checkbox {
            // background-color: $orange;
            // border-color: $orange;
        }

        /* Estilo do check (✓) */
        .custom-checkbox::before {
            content: "";
            width: 4px;
            height: 10px;
            border: solid $orange;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity 0.2s;
            top: -1px;
            position: relative;
        }

        /* Mostra o check quando o checkbox está marcado */
        input[type="checkbox"]:checked+.wpcf7-list-item-label>.custom-checkbox::before {
            opacity: 1;
        }

        .choices__inner {
            background-color: transparent;
            border: 2px solid #E6E6E6;
            padding: 13px 16px;
            font-size: 16px;
            color: $dark-gray;
            min-height: 55px;
            border-radius: 0;
        }

        .choices__list--multiple .choices__item {
            background-color: $orange;
            border-color: $orange;
        }

        .choices__item--disabled {
            display: none;
        }

        .choices__list--dropdown {
            z-index: 50 !important;
        }
    }

    &__accept {
        width: 100%;
        font-size: 18px;

        .wpcf7-list-item-label {
            cursor: pointer;
            display: flex;
            align-items: flex-start;
        }
    }

    &__illustration-area {
        position: absolute;
        left: 0;
        bottom: -98px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
            bottom: unset;
            left: unset;
            top: 0;
            right: 0;
            transform: translateY(calc(-100% + 5px));
        }
    }

    &__illustration {
        position: relative;
        // width: calc(100% + 48px);
        width: 100%;
        // left: -24px;
    }

    &__float-icon {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
        }

        &--rounded {
            position: absolute;
            left: -90px;
            top: 36%;
            animation: spinner 16s linear infinite;
        }
    }

    &__success {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 70px 40px;
        z-index: 1014;
        max-width: 100%;
        width: calc(100% - 48px);

        @media screen and (min-width: 1024px) {
            max-width: 844px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            clip-path: polygon(0 0,
                    100% 0,
                    100% calc(100% - 32px),
                    calc(100% - 32px) 100%,
                    0 100%);
            z-index: -1;
        }


        &.active {
            display: block;
        }

        &-close {
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(calc(-100% - 12px));
            -webkit-mask: url(../images/icon-close.svg) no-repeat;
            mask: url(../images/icon-close.svg) no-repeat;
            background: $white;
            width: 26px;
            height: 26px;
            background-size: cover;
            display: block;
            cursor: pointer;
        }

        &-title {
            text-align: center;
            width: 100%;
            font-size: 32px;
            line-height: 1.4;
            color: $orange;
            display: block;
        }

        &-text {
            text-align: center;
            width: 100%;
            margin-top: 24px;
            color: $orange;
            font-size: 18px;
        }

        iframe {
            max-height: 188px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__animation {
                max-width: 134px;
            }
        }
    }

    .wpcf7-response-output {
        padding: 1rem !important;
        color: $white;
        line-height: 1.3;
        border-color: transparent !important;
        text-align: center;
        width: 100%;
    }
}