.float-bar {
  background-color: $purple-2;
  color: $white;
  padding: 24px 0;
  width: 100%;
  transition: opacity .4s;
  overflow: hidden;

  &.close {
    display: none;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (min-width: 1024px) {
      gap: 32px;
      align-items: center;
    }
  }

  &__left {
    position: relative;

    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 16px;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }

  &__text {
    position: relative;

    @media screen and (min-width: 1024px) {
      padding-left: 30px;
    }

    &::before {
      @media screen and (min-width: 1024px) {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        mask-image: url("data:image/svg+xml,%3Csvg width='13' height='42' viewBox='0 0 13 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3027_22783)'%3E%3Cpath d='M13 21L-0.5 39.1865L-0.499998 2.81347L13 21Z' fill='%23C3D600'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3027_22783'%3E%3Crect width='13' height='42' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 13px;
        height: 42px;
        background-color: $white;
        mask-size: cover;
        background-color: $green;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;

    span {
      display: block;

      @media screen and (min-width: 1024px) {
        display: inline;
        width: 16px;
      }
    }
  }

  &__obs {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 6px;
  }

  &__button {
    font-size: 18px;
    display: inline-block;
    padding: 12px 22px;
    border-radius: 42px;
    border: 2px solid $white;
    color: $white;
    margin-top: 12px;

    @media screen and (min-width: 1024px) {
      margin-top: 0;
    }
  }

  &__close {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      display: block;
      mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0607 12L19.5303 18.4697C19.8232 18.7626 19.8232 19.2374 19.5303 19.5303C19.2374 19.8232 18.7626 19.8232 18.4697 19.5303L12 13.0607L5.53033 19.5303C5.23744 19.8232 4.76256 19.8232 4.46967 19.5303C4.17678 19.2374 4.17678 18.7626 4.46967 18.4697L10.9393 12L4.46967 5.53033C4.17678 5.23744 4.17678 4.76256 4.46967 4.46967C4.76256 4.17678 5.23744 4.17678 5.53033 4.46967L12 10.9393L18.4697 4.46967C18.7626 4.17678 19.2374 4.17678 19.5303 4.46967C19.8232 4.76256 19.8232 5.23744 19.5303 5.53033L13.0607 12Z' fill='white'/%3E%3C/svg%3E%0A");
      width: 24px;
      height: 24px;
      background-color: $white;
      mask-size: cover;
    }
  }
}