.gbc {
  position: relative;
  background-color: $green-2;

  // &--pt-m-lg {
  //   @media screen and (max-width: 1023px) {
  //     padding-top: 60px;
  //   }
  // }

  &__text {
    position: relative;
    padding: 66px 0;
    max-width: 490px;
    z-index: 50;
  }

  &__title {
    font-size: 40px;
    color: $white;

    strong {
      font-weight: 700;
    }
  }

  &__desc {
    margin-top: 32px;
    color: $white;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;

    strong {
      font-weight: 700;
    }

    p {
      margin-top: 28px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__bg {
    display: block;

    &--mobile {
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    &--desk {
      display: none;

      @media screen and (min-width: 1024px) {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 40;
        display: block;
      }
    }
  }
}