.internal-banner {
    $main: &;
    position: relative;
    background-color: #F9F9F9;
    min-height: 700px;

    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &--galpoes-flexiveis {
        background-color: #D5D5C3;
    }

    &--galpoes-urbanos {
        background-color: $dark-gray;
    }

    &__content {
        padding: 80px 0 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 556px;

        @media screen and (max-width: 1023px) {
            padding: 34px 0 0;
        }
    }

    &__pre-title {
        border: 2px solid $orange;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        #{$main}--galpoes-flexiveis & {
            border-color: $dark-gray;
        }

        &-icon {
            background-color: $orange;
            padding: 12px;

            #{$main}--galpoes-flexiveis & {
                background-color: $dark-gray;
            }
        }

        &-name {
            padding: 12px;
            font-size: 20px;
            color: $dark-gray;
            font-weight: 300;
            max-width: 115px;

            #{$main}--galpoes-urbanos & {
                color: $white;
            }
        }
    }

    &__title {
        margin-top: 48px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.1;
        color: $dark-gray;

        #{$main}--galpoes-urbanos & {
            color: $white;
        }
    }

    &__desc {
        margin-top: 48px;
        line-height: 1.4;
        color: $dark-gray;
        font-size: 20px;
        font-weight: 300;

        #{$main}--galpoes-urbanos & {
            color: $white;
        }

        strong {
            font-weight: 700;
        }

    }

    &__button {
        margin-top: 48px;
        padding: 18px 16px;
        border: 2px solid $orange;
        font-weight: 700;
        font-size: 18px;
        color: $white;
        text-align: center;
        transition: .4s;
        text-transform: lowercase;
        line-height: 1.15;
        display: inline-block;
        background-color: $orange;
        min-width: 212px;

        &:hover {
            background-color: transparent;
            color: $orange;
        }
    }

    &__slider {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;

        @media screen and (max-width: 1023px) {
            position: relative;
            width: 100%;
            height: auto;
        }

        &-list {
            height: 100%;
        }

        &-image {
            height: 80%;
            width: 100%;
            object-fit: cover;
            display: block;

            @media screen and (max-width: 1023px) {
                height: 312px;
            }
        }

        &-text {
            height: 20%;
            min-height: 122px;
            width: 100%;
            background-color: $dark-gray;
            color: $white;
            padding: 40px 112px;
            font-size: 20px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 1023px) {
                padding: 32px 56px;
                font-size: 18px;
                flex: 1;
                height: 122px;
            }

            #{$main}--galpoes-urbanos & {
                background-color: #828BAE;
            }

            #{$main}--galpoes-flexiveis & {
                background-color: $orange;
            }
        }

        &-name {
            color: $orange;

            #{$main}--galpoes-urbanos & {
                color: $white;
            }

            #{$main}--galpoes-flexiveis & {
                color: $white;
            }

            &::after {
                content: '|';
                padding: 0 10px;
                font-weight: 700;
                line-height: 1.2;
            }
        }

        &-address {
            margin-top: 4px;
            font-weight: 400;
        }
    }

    &__navigation {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 600;

        @media screen and (max-width: 1023px) {
            height: 122px;
        }

    }

    &__prev {
        content: '';
        position: absolute;
        bottom: 50px;
        left: 40px;
        display: inline-block;
        -webkit-mask: $arrow-internal-banner no-repeat;
        mask: $arrow-internal-banner no-repeat;
        background: $orange;
        width: 24px;
        height: 32px;
        mask-size: 100%;
        cursor: pointer;

        @media screen and (max-width: 1023px) {
            left: 24px;
            bottom: unset;
            top: 50%;
            transform: translateY(-50%);
        }

        #{$main}--galpoes-urbanos & {
            background-color: $white;
        }

        #{$main}--galpoes-flexiveis & {
            background-color: $white;
        }
    }

    &__next {
        content: '';
        position: absolute;
        bottom: 50px;
        right: 40px;
        display: inline-block;
        -webkit-mask: $arrow-internal-banner no-repeat;
        mask: $arrow-internal-banner no-repeat;
        background: $orange;
        width: 24px;
        height: 32px;
        transform: rotate(180deg);
        mask-size: 100%;
        cursor: pointer;

        @media screen and (max-width: 1023px) {
            right: 24px;
            bottom: unset;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
        }

        #{$main}--galpoes-urbanos & {
            background-color: $white;
        }

        #{$main}--galpoes-flexiveis & {
            background-color: $white;
        }
    }
}