.privacy-policy {
  background-color: #F9F9F9;
  color: $dark-gray;
  padding-top: 34px;
  padding-bottom: 72px;

  @media screen and (min-width: 1024px) {
    padding-top: 88px;
  }

  .wrap {
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__header {

    @media screen and (min-width: 1024px) {
      border-bottom: 1px solid #E6E6E6;
      width: 100%;
      padding-bottom: 50px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 24px;
  }

  &__date {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
  }

  &__menu {
    margin-top: 32px;

    &-title {
      font-size: 18px;
      font-weight: 700;
      color: $dark-gray;
      line-height: 1.4;
      margin-bottom: 40px;
      display: inline-block;
    }

    &-item {
      font-size: 18px;
      font-weight: 400;
      color: $dark-gray;
      line-height: 1.4;
      margin-bottom: 24px;
      padding-bottom: 24px;
      transition: .4s;
      margin-right: 68px;

      border-bottom: 1px solid #E6E6E6;

      &:last-child {
        border-bottom: 0;
      }

      &.active {
        a {
          color: $purple-2;
          font-weight: 700;
        }
      }

      a {
        color: $dark-gray;

        &:hover {
          font-weight: 700;
          color: $purple-2;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      width: 24%;
    }

    &--desktop {
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
        padding-top: 88px;
        margin-top: 0;
      }
    }

    &--mobile {
      padding: 18px 36px 18px 16px;
      font-size: 18px;
      border: 2px solid #E6E6E6;
      background-color: transparent;
      color: $dark-gray;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="orange" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-repeat: no-repeat;
      background-position: right 12px center;
      padding-right: 36px;

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__content {
    min-height: 300px;
    position: relative;
    margin-top: 32px;
    padding-top: 32px;

    font-size: 18px;
    line-height: 1.4;
    color: $dark-gray;

    border-top: 1px solid #E6E6E6;

    @media screen and (min-width: 1024px) {
      border: 0;
      width: 76%;
      padding-top: 88px;
      margin-top: 0;
      border-left: 1px solid #E6E6E6;
      padding-left: 88px;

    }

    &-wrap {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    em {
      font-style: italic;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $orange;

      margin-top: 12px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 20px;
    }

    li {
      line-height: 1.4;
    }

    a {
      color: $orange;
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }

    p {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    figure,
    img {
      margin-bottom: 24px;
    }

    ul,
    ol {
      margin-bottom: 24px;
      list-style: unset;
      list-style-position: inside;


      li {
        margin-bottom: 12px;
      }
    }

    strong {
      font-weight: 700;
    }
  }
}