.page-search {
    background-color: #F9F9F9;
    padding: 40px 0 55px;

    @media screen and (min-width: 1024px) {
        padding: 80px 0 114px;
    }

    &__header {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
        align-items: flex-start;
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid #E6E6E6;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__icons {
        width: 126px;

        @media screen and (min-width: 1024px) {
            width: 220px;
        }
    }

    &__title {
        color: $orange;
        line-height: 1.2;
        font-weight: 700;
        font-size: 32px;

        @media screen and (min-width: 1024px) {
            max-width: 356px;
        }
    }

    &__total {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.2;
        color: $dark-gray;

        strong {
            font-weight: 500;
            font-style: italic;
        }
    }

    &__list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (min-width: 1024px) {
            margin-top: 48px;
        }
    }

    &__item {
        width: 100%;
        padding: 24px;
        border: 1px solid #D9D9D9;

        @media screen and (min-width: 1024px) {
            padding: 32px;
        }

        &-title {
            color: $orange;
            line-height: 1.2;
            font-weight: 700;
            font-size: 24px;
        }

        &-part {
            margin-top: 16px;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.2;
            color: $dark-gray;

            strong {
                font-weight: 500;
                font-style: italic;
            }
        }
    }
}