.single-internal-banner {
    $main: &;
    position: relative;
    background-color: #F9F9F9;
    min-height: 700px;

    &--galpoes-flexiveis {
        background-color: #D5D5C3;
    }

    &--galpoes-urbanos {
        background-color: $dark-gray;
    }

    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column-reverse;
    }

    &__content {
        padding: 80px 0 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 556px;

        @media screen and (max-width: 1023px) {
            padding: 24px 0;
        }
    }

    &__pre-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        &-left {
            border: 2px solid $orange;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            #{$main}--galpoes-flexiveis & {
                border-color: $dark-gray;
            }
        }

        &-icon {
            background-color: $orange;
            padding: 12px;

            #{$main}--galpoes-flexiveis & {
                background-color: $dark-gray;
            }
        }

        &-name {
            padding: 12px;
            font-size: 20px;
            color: $dark-gray;
            font-weight: 300;
            max-width: 115px;

            #{$main}--galpoes-urbanos & {
                color: $white;
            }
        }

        &-links {
            display: flex;
            flex-direction: row;
            gap: 8px;

            &-item {
                padding: 6px;
                border: 1px solid #D9D9D9;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;

                #{$main}--galpoes-flexiveis & {
                    border-color: $dark-gray;
                }
            }
        }
    }

    &__title {
        margin-top: 60px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1;
        color: $dark-gray;

        @media screen and (max-width: 1023px) {
            font-size: 40px;
            margin-top: 48px;
        }

        #{$main}--galpoes-urbanos & {
            color: $white;
        }
    }

    &__desc {
        margin-top: 48px;
        line-height: 1.2;
        color: $dark-gray;
        font-size: 20px;
        font-weight: 300;

        #{$main}--galpoes-urbanos & {
            color: $white;
        }

        strong {
            font-weight: 700;
        }

    }

    &__info {
        margin-top: 34px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-item {
            padding: 24px;
            border: 1px solid #D9D9D9;
            display: flex;
            align-items: flex-start;
            width: 100%;
            gap: 16px;
            line-height: 1.4;
            font-size: 20px;
            font-weight: 300;

            @media screen and (max-width: 1023px) {
                font-size: 18px;
            }

            #{$main}--galpoes-flexiveis & {
                border-color: $dark-gray;
            }

            #{$main}--galpoes-urbanos & {
                color: $white;
            }

            >image {
                min-width: 24px;
            }

            strong {
                font-weight: 500;
            }
        }
    }

    &__image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
        width: 50%;

        @media screen and (max-width: 1023px) {
            position: relative;
            width: 100%;
            height: 246px;
        }
    }
}