.space-definer {
    position: relative;
    background-color: $dark-gray;
    padding: 80px 0 70px;

    @media screen and (max-width: 1023px) {
        padding: 0 0 32px;
    }

    .wrap {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 1023px) {
            flex-direction: column;
        }
    }

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 35%;
        object-fit: cover;

        @media screen and (max-width: 1023px) {
            width: 100%;
            position: relative;
            height: 238px;
        }

        img {
            display: block;
        }
    }

    &__float-icon {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);

        @media screen and (max-width: 1023px) {
            display: none;
        }

        &--letters {
            @media screen and (max-width: 1023px) {
                animation: spinner 16s linear infinite;
                display: block;
                top: 115px;
                right: -65px;
                transform: unset;
            }
        }
    }

    &__content {
        max-width: 780px;
        width: 100%;

        @media screen and (max-width: 1023px) {
            padding-top: 40px;
        }
    }

    &__title {
        font-size: 48px;
        color: $white;
        line-height: 1.1;
        font-weight: 700;
        max-width: 430px;

        @media screen and (max-width: 1023px) {
            font-size: 40px;
        }
    }

    &__desc {
        margin-top: 32px;
        color: $white;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.4;
        max-width: 430px;
    }

    &__list {
        margin-top: 48px;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 1023px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        border: 2px solid $orange;
        padding: 22px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        transition-property: top, opacity, transform !important;
        top: 0;

        &:hover {
            top: -5px;
        }

        &-title {
            font-size: 32px;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            color: $orange;
        }

        &-desc {
            margin-top: 12px;
            color: $white;
            font-size: 20px;
            line-height: 23px;
            font-weight: 300;
        }
    }

    &__info {
        display: none;

        @media screen and (max-width: 1023px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 20px;
            margin-top: 32px;
            line-height: 1.4;
            color: $white;
            font-weight: 300;

            &::before {
                content: '';
                width: 24px;
                height: 24px;
                display: inline-block;
                -webkit-mask: $hand no-repeat;
                mask: $hand no-repeat;
                background: $green;
                mask-size: 100%;
            }
        }
    }

    &__modal {
        position: fixed;
        display: none;
        z-index: 1015;
        flex-direction: column;
        width: 690px;
        top: calc(50% - 18px);
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 1023px) {
            width: 95%;
        }

        &.active {
            display: flex;
        }

        &-content {
            background-color: $white;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
            padding: 34px;

            @media screen and (max-width: 1023px) {
                clip-path: unset;
            }
        }

        &-image {
            display: block;
            width: 100%;
        }

        &-close {
            position: absolute;
            right: 0;
            top: -36px;
            display: inline-block;
            -webkit-mask: $modal-close no-repeat;
            mask: $modal-close no-repeat;
            background: $white;
            width: 18px;
            height: 18px;
            mask-size: 100%;
            cursor: pointer;
        }

        &-header {
            margin-top: 44px;
        }

        &-title {
            font-size: 32px;
            line-height: 1.2;
            font-weight: 700;
            color: $orange;
        }

        &-size {
            color: $dark-gray;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 300;
        }

        &-desc {
            margin-top: 24px;
            color: $dark-gray;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 300;
        }
    }
}