.all-units {
    background-color: #F9F9F9;

    &__map {
        width: 100%;
        height: 394px;
    }

    &__title {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .our-units {
        position: relative;
        padding-top: 0;
        margin-top: -60px;
        background-color: transparent;
        margin-bottom: 0;

        @media screen and (max-width: 1023px) {
            padding-bottom: 0;
        }

        .wrap {
            padding: 0;
        }

        &__filter {
            margin-top: 0;
        }
    }

    &__tag-filter {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            margin-top: 48px;
        }

        &-item {
            background-color: $white;
            padding: 10px 16px;
            border: 1px solid #E6E6E6;
            border-radius: 52px;
            font-weight: 500;
            width: auto;
            display: inline-block;
            color: $dark-gray;
            transition: .5s;
            cursor: pointer;

            &:hover {
                background-color: rgba($orange, .2);
            }

            &.active {
                background-color: $orange;
                border-color: $orange;
                box-shadow: 0px 34px 14px rgba(0, 0, 0, 0.01), 0px 19px 12px rgba(0, 0, 0, 0.05), 0px 9px 9px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
                color: $white;
            }
        }
    }

    .units__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 32px;
        padding-bottom: 64px;
        margin-bottom: 0;

        cursor: unset;

        * {
            cursor: unset;
        }

        a {
            cursor: pointer;
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .units__item {
            max-width: unset;

            @media screen and (min-width: 1024px) {
                max-width: unset;
                flex-direction: column;
            }

            &-image {
                width: 100%;
                max-width: 100%;
                height: auto;
                aspect-ratio: 16 / 9;

                img {
                    width: 100%;
                }
            }

            &-apps {
                flex-direction: row;
            }

        }
    }

}

.units {
    position: relative;

    .wrap {
        z-index: 10;

        &--list {
            cursor: url(../images/custom-cursor.svg), auto;
        }

        .swiper .swiper-notification {
            display: none;
        }
    }

    &__title {
        font-size: 32px;
        line-height: 1;
        font-weight: 300;
        position: relative;
        width: 100%;
        text-align: center;

        strong {
            font-weight: 700;
        }

        &--highlight {
            position: relative;

            &::before {
                content: '';
                background-image: $text-marker;
                display: inline-block;
                position: absolute;
                left: -2.5%;
                top: -2.5%;
                width: 105%;
                height: 105%;
                background-position: center top;
                background-size: 100% 100%;
            }
        }
    }

    &__map {
        margin-top: 40px;
        display: block;
        width: 100%;
        height: 450px;
        z-index: 10;

        .gm-style .gm-style-iw {
            border-radius: 0;
            padding: 0;
        }

        .gm-style-iw-d {
            padding: 0;
        }

        @media screen and (min-width: 1024px) {
            margin-top: 60px;
        }
    }

    &__list {
        filter: drop-shadow(0px 183px 73px rgba(0, 0, 0, 0.01)) drop-shadow(0px 103px 62px rgba(0, 0, 0, 0.02)) drop-shadow(0px 46px 46px rgba(0, 0, 0, 0.03)) drop-shadow(0px 11px 25px rgba(0, 0, 0, 0.04));
        margin-top: -36px;
        margin-bottom: 64px;
        overflow: unset !important;
        cursor: url(../images/custom-cursor.svg) 36 36, auto;

        @media screen and (min-width: 1024px) {
            margin-bottom: 104px;
        }

        * {
            cursor: url(../images/custom-cursor.svg) 36 36, auto;
        }
    }

    &__item {
        $item: &;
        padding: 16px;
        background: $white;
        display: flex;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        max-width: 204px;
        height: auto;
        flex-direction: column;
        box-shadow: 0px 48px 19px rgba(0, 0, 0, 0.01), 0px 27px 16px rgba(0, 0, 0, 0.02), 0px 12px 12px rgba(0, 0, 0, 0.03), 0px 3px 7px rgba(0, 0, 0, 0.04);

        &.off {
            display: none;
        }

        &--empty {
            display: none;

            &.active {
                display: flex;
            }
        }

        &--popup {
            max-width: 346px !important;

            @media screen and (min-width: 1024px) {
                flex-direction: row;

            }
        }

        @media screen and (min-width: 1024px) {
            max-width: 468px;
            flex-direction: row;
        }

        &-image {
            height: 104px;
            width: 100%;
            aspect-ratio: 16 / 9;
            display: inline-block;
            max-width: 100%;

            #{$item}--popup & {
                max-height: 164px;
            }

            @media screen and (min-width: 1024px) {
                height: 100%;
                max-width: 140px;
                width: unset;
                aspect-ratio: 1 / 1;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &-tags {
            margin-top: 12px;
        }

        &-tag {
            font-size: 14px;
            color: $white;
            padding: 6px 8px;
            background-color: $orange;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 500;

            #{$item}--popup & {
                @media screen and (max-width: 1023px) {
                    font-size: 10px;
                }
            }

            &--end {
                margin-top: 16px;
                background-color: $purple-2;
            }

            &--default {
                background-color: #E6E6E6;
                color: $dark-gray;
            }

            &--self-storage {}

            &--galpoes-flexiveis {
                background-color: $clay;
                color: $dark-gray;
            }

            &--galpoes-urbanos {
                background-color: $dark-gray;
                color: $orange;
            }
        }

        &-title {
            margin-top: 16px;
            color: $orange;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.2;

            #{$item}--popup & {
                @media screen and (max-width: 1023px) {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }

            a {
                color: $orange;
                display: block;
            }
        }

        &-address {
            margin-top: 16px;
            line-height: 1.2;
            font-size: 14px;
            color: $dark-gray;
        }

        &-apps {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;
            flex: 1;

            #{$item}--popup & {
                position: absolute;
                top: 16px;
                left: 16px;
                flex-direction: row;
            }

            @media screen and (max-width: 1023px) {
                flex-direction: row;
            }

            &-item {
                padding: 6px;
                border: 1px solid #D9D9D9;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
            }
        }
    }

    &__float-icon {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
        }

        position: absolute;
        top: -28px;
        z-index: 1;

        &--right {
            top: -120px;
            right: -70px;
            transform: matrix(-0.91, 0.41, 0.41, 0.91, 0, 0) rotate(20deg) scale(1.2);
        }
    }
}