.video-slider {
  background-color: $orange;
  padding: 88px 0 102px;

  @media screen and (max-width: 1023px) {
    padding: 48px 0 80px;
  }

  &__title {
    font-size: 56px;
    font-weight: 700;
    color: $white;

    @media screen and (max-width: 1023px) {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  &__list {
    margin-top: 40px;
    overflow: unset !important;

    * {
      cursor: url(../images/custom-cursor-2.svg), auto;
    }
  }

  &__item {
    max-width: 455px;
    width: 100%;

    @media screen and (max-width: 1023px) {
      max-width: 302px;
    }

    &-video {
      display: block;
      aspect-ratio: 16 / 9;
      width: 100%;
    }

    &-content {
      margin-top: 24px;
      color: $white;

      @media screen and (max-width: 1023px) {
        margin-top: 16px;
      }
    }

    &-name {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.1;

      @media screen and (max-width: 1023px) {
        font-size: 18px;
      }
    }

    &-position {
      margin-top: 8px;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 4px;
      display: block;
      font-weight: 300;

      @media screen and (max-width: 1023px) {
        font-size: 12px;
        margin-top: 0;
      }
    }

    &-desc {
      margin-top: 24px;
      font-style: italic;
      font-weight: 300;
      line-height: 20px;

      @media screen and (max-width: 1023px) {
        margin-top: 16px;
        font-size: 16px;
      }
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -102px;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
  }

  .swiper-button {
    position: relative;
    z-index: 500;

    color: transparent;
    top: 100% !important;
    bottom: unset;
    margin-top: 0;

    width: auto;
    height: auto;

    &::after {
      display: none;
    }

    &-prev {
      left: 0;
      right: unset
    }
  }
}